{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hey! I'm Mansha 😊 — someone who enjoys coding 👩🏻‍💻 as much as I enjoy a good movie, a great meal, or a random late-night thought that turns into a blog post. This space isn’t limited to one thing — it’s where I explore everything that sparks my curiosity, whether it's debugging a tricky function, binge-watching a series, or trying out a new café in town.
        </p>
        <p>
          I started this blog as a way to document, express, and maybe even entertain. Some days I might write about tech tips or tools I’m loving, and on others, it might be about the best paneer tikka I've had this month or a plot twist I didn’t see coming. Think of it as a digital journal that doesn’t like sticking to one theme.
        </p>
        <p>
          If you're someone who appreciates a mix of bytes and bites, screen time and screenplays, you're in the right place. Thanks for stopping by — and I hope you find something here that makes you smile, think, or just take a break from the scroll ✨
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
